{% extends "base.html" %}

{% block title %}Home - Quiz Application{% endblock %}

{% block content %}
    <h1 class="my-4">Interactive Quiz Application</h1>
    <h2>Select a Quiz</h2>
    <ul class="list-group">
        {% for quiz in quizzes %}
            <li class="list-group-item"><a href="{{ url_for('quiz', quiz_id=loop.index0) }}">{{ quiz.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('leaderboard') }}" class="btn btn-info mt-4">View Leaderboard</a>
{% endblock %}
