{% extends "base.html" %}

{% block title %}{{ quiz.title }} - Quiz Application{% endblock %}

{% block content %}
    <h1 class="my-4">{{ quiz.title }}</h1>
    <form method="post">
        {% for question in quiz.questions %}
            <div class="mb-4">
                <img src="{{ url_for('static', filename='images/' + question.image) }}" width="250" class="img-fluid rounded" alt="Question Image">
                <p>{{ question.question }}</p>
                {% for option in question.options %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answers_{{ loop.index0 }}" value="{{ option }}">
                        <label class="form-check-label">{{ option }}</label>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="{{ url_for('index') }}" class="btn btn-secondary mt-4">Back to Quizzes</a>
{% endblock %}
